<!doctype html>
<html>

  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    <meta chatset = "utef-8" />
    <title> Super Sami </title>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>


 </head>
<body>
    <%- include('partials/nav'); %>
        <h1>
            Welcome To Super Sami
        </h1>
        
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 </body>

</html>
