<!doctype html>
<html>

  <head>
    <link href="./assets/styles.css" rel="stylesheet" />
   
    <meta chatset = "utef-8" />
    <title> Super Sami </title>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>


 </head>
<body>
    <%- include('partials/nav'); %>




  




    <section id="home-section" class="hero">
		  <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image: url(bg_1.jpg);">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

	            <div class="col-md-12 ftco-animate text-center">
                <h1 class="mb-2">Super  Sami</h1>
	              <h2 class="subheading mb-4">A Superstore for Students &amp; more</h2>
	            </div>

	          </div>
	        </div>
	      </div>
        
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
   <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
   <script>src ="index.js"</script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 </body>

</html>
