<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

</head>
<body>
  <%- include('partials/nav'); %>
    <div class="container p-5">
        <div class="row">
          <div class="col-sm-6 bg-light rounded border py-3 offset-sm-1">
                <h1 class="text-center">Signed Up Successfully!</h1>
                

			   </div>
</body>
</html>
