<!DOCTYPE html>
<html lang="en">
<head>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

</head>
<body>
  <%- include('partials/nav'); %>
    <div class="container p-5">
        <div class="row">
          <div class="col-sm-6 bg-light rounded border py-3 offset-sm-1">
                <h2 class="text-center">Sign Up Please</h2>


                <form id="register page" action="/hi" method="POST" name ="formname"  >
                  
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" name="name"
                        </div>
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input type="email" name="email"
                        </div>
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" name="password"
                        </div>
                        <% if (locals.register_error) {
                          register_error.forEach(function(error_msg){ %>
                          <div class="alert alert-danger" role="alert"><%= error_msg %></div>
                        <% });
                        } %>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                       
                    </form>

            </div>
			   </div>
</body>
</html>
